Package: dreamplex
Version: 2.1.13.1
Description: Plex Client for Enigma2
Section: extra
Priority: optional
Maintainer: Wy53 <wyse@jeu.de>
Architecture: all
OE: enter Version number here
Homepage: http://https://github.com/Wy53/DreamPlex
Source:  http://https://github.com/Wy53/DreamPlex
